@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

/*
 * Globals
 */

 * {
  background-color: #1e1e1e;
}

footer {
  background: transparent;
  border: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #353D2F;
  text-shadow: none; /* Prevent inheritance from `body` */
}


.accordion div, .accordion button, .accordion button:active .accordion button:focus{
  background: transparent;
  border: none;
}

.accordion-button {
  color:#fff;
}

#download-bttn {
  background-color: #fff;
  color: #353D2F;
  text-transform: uppercase;
  font-weight: bold;
}

#download-bttn:hover {
  background-color: #6BA368;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.copyright {
  color:#fff;
  font-size: 10px;
}

.about-me {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1rem;
}

.contributed {
  font-size: 14px;
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
}

.series{
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  letter-spacing: .3rem;
  font-size: 36px;
  padding-bottom: 0%;
}

.series-org {
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  letter-spacing: .1rem;
  font-size: 18px;
  padding: 0%;
  margin: 0%;
  font-style: italic;
}

.publication {
  font-weight: 900; 
  text-transform:uppercase;
  letter-spacing: .5rem; 
  text-align: left;
  font-size: 36px;
}

.story {
  font-weight: 700;
  text-align: left;
}

.dateline {
  text-align: left;
}

.dateline a:hover {
  color: #6BA368;
}

.story a:hover {
  color: #ECEEEC;
}

.clip a{
  color: #6BA368;
}

a{
  color: #ECEEEC;
}

.sub-link {
  color: #ECEEEC;
}

.dateline a{
  color: #ECEEEC;
}

.additional-link{
  color: #6BA368;
}

.additional-link:hover{
  color: #ECEEEC;
}

.sub-link:hover{
  color: #6BA368;
}

a:hover {
  color:#ECEEEC;
}

.experience {
  text-align: left;
}

.work {
  text-transform:uppercase;
  font-weight: 300;
  font-size: 24px;
}

.work-name {
  font-weight: 900; 
  letter-spacing: .3rem; 
  font-size: 24px;
}

.timespan {
  font-size: 18px;
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-text{
max-width: 42em;
}

.name-logo{
  font-weight: 900;
}

.icons {
  color:#fff
}

/*
 * Header
 */


.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
}

.name {
  font-weight: 900;
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-size: 48px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.credit{
  font-size: 14px;
  color:#fff;
}

